/* Add CSS styling here */

nav {
  display: flex;
  justify-content:space-between;
  align-items: center;
  border: solid black 1px;
}
.links {
  border: solid black 1px;
}
h1 {
  border: solid black 1px;
}
.topsec {
  display: flex;
  justify-content: center;

}

.imgbutton {
  background-image: url("https://picsum.photos/1000/500");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 25px;
  width: 1000px;
  height: 500px;
}

.imgbutton a {
  background-color: black;
  padding: 10px;
}

footer {
  background-color: lightgray;
  padding: 50px;
  text-align: center;

}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.portfolioel {
  text-align: center;
}

button {
  background-color: white;
  color: black;
  border: solid 1px black;
  padding: 5px 10px;

}

button:hover {
  background-color: black;
  color: white;
  border: solid 1px black;
}

button a {
  text-decoration: none;
  color: inherit;
}

/* MEDIA QUERIES */

/* 800 */

@media(max-width: 800px) {
  header {
    display: block;
  }
  nav {
    display: block;
    text-align: center;
  }
  .links {
    display: block;
    justify-content: space-between;
    align-items: center;
  }
  .topsec {
    background-position:left center;
  }
  .row {
    
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 80%;
    
  }
  
}

/* PHONES */

@media(max-width: 500px) {
  .row {
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 40%;
  }
  nav {
    flex-wrap: wrap;
    justify-content: center;
  }
  .links {
    width: 100%;
  }
  h1 {
    width: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .topsec {
    background-image:none;
    background-color:#dddee0;
    justify-content: center;
    height:auto;
  }
  .topsec button {
    margin: 0;
    width: 90%;
  }

  .portfolioel {
    width: 100%;
  }
  
}
      
      